/* ========== COMMON ========== */
html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.task-list {
  display: flex;
  /* gap: 24px; */
}

.task-btn {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 8px;

  margin: 24px;

  background-color: greenyellow;
  color: blue;
}
/* ========== /COMMON ========== */
